RewriteEngine On
RewriteRule ^baovelogin$ baovelogin.php [L]
RewriteRule ^dang_ky2$ dang_ky2.php [L]
RewriteRule ^dang_nhap$ dang_nhap.php [L]
RewriteRule ^dang_xuat$ dang_xuat.php [L]
RewriteRule ^footer$ footer.php [L]
RewriteRule ^form_dang_ky$ form_dang_ky.php [L]
RewriteRule ^form_lop$ form_lop.php [L]
RewriteRule ^form_sinhvien$ form_sinhvien.php [L]
RewriteRule ^giao_dien$ giao_dien.php [L]
RewriteRule ^index$ index.php [L]
RewriteRule ^lophoc$ lophoc.php [L]
RewriteRule ^sua_lop$ sua_lop.php [L]
RewriteRule ^sua_sinhvien$ sua_sinhvien.php [L]
RewriteRule ^thongtinsv$ thongtinsv.php [L]
RewriteRule ^update_lop$ update_lop.php [L]
RewriteRule ^update_sinhvien$ update_sinhvien.php [L]
RewriteRule ^url$ url.php [L]
RewriteRule ^xem_sinhvien$ xem_sinhvien.php [L]
RewriteRule ^xoa_lop$ xoa_lop.php [L]
RewriteRule ^xoa_sinhvien$ xoa_sinhvien.php [L]
RewriteRule ^xuly_themlop$ xuly_themlop.php [L]
